<h1 class="text-center text-success mt-3">Here You Can View Albums</h1><br>
<div class="container">
<div class="text-center">
<%= search_form_for @q, url: albums_path do |f|%>
      <%= f.search_field :tags_name_eq , placeholder: "Search By Tag"%>
      <%= f.submit "Search", class:"btn btn-primary ms-1" %>
    <% end %>
    </div>
  <div class="row">
    <% @albums.each do |album| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-white">
            <div class="text-center text-info "> 
              <strong>Title:</strong>
              <%=album.title%>
            </div>
          </div>
          <div class="card-body">
            <% if album.cover_image.attached? %>
              <%= link_to album do%>
                <%=image_tag(album.cover_image, class: "img-fluid") %>
              <%end%>
            <%end%>
          </div>
          <div class="card-footer text-info bg-white">
            <div class="pl">
              <strong>Description:</strong>
              <%=album.desc%>
            </div>
            <div>
          <strong> Tag:</strong>
          <%=album.all_tags%>
        </div>
            <div class="pl">
              <strong>Total Images: </strong>
              <%=album.images.count%>
            </div>
            <div class="pl">
              <strong>Created at :</strong>
              <%=album.created_at.time %>
            </div>
          </div>
          <span>
            <%= link_to "Edit" , edit_album_path(album), class:"btn btn-white btn-success", style:"float:left;" %>
            <%= button_to "Delete" , album_path(album) , method: :delete, data: {confirm: 'Are you Sure?' } ,class:"btn btn-white btn-danger" ,  style:"float:right;"%>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>  